<h1> Witaj Drogi użytkowniku!</h1>

<p>
    Bardzo miło nam gościć Cię na pokładzie BankUpp.
    <br><br>
    <a href="{{ signedUrl }}">Kliknij tutaj, aby potwierdzić Twoją rejestrację</a>.
    Ten link zostanie wygaszony w ciągu 1 godziny.
</p>

<p>
    Pozdrawiamy, Zespół BankUpp.
</p>
