<form method="post" action="{{ path('app_user_crud_delete', {'id': user.id, 'typeInfo': typeInfo}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn" onmousedown="return confirm('Jesteś pewien, że chcesz usunąć {{ typeInfo~'a' }}?');">Usuń</button>
</form>
