{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edytuj użytkownika</h1>

    {{ include('user_crud/_form.html.twig', {'button_label': 'Zaktualizuj'}) }}

    <a href="{{ path(managementRoute) }}">Powrót do listy</a>

    {{ include('user_crud/_delete_form.html.twig') }}
{% endblock %}
