{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="home-page-container">
    <h1>Witaj w naszym banku!</h1>
    <div>Zarejestruj się w mniej niż minutę i wykonuj natychmiastowe przelewy do innych w nieograniczonej ilości.</div>
</div>
{% endblock %}
